*.jar
BD - Lab/BD - Lab06/Lab6BigData_Skeleton/example_data/Reviews.csv
BD - Lab/BD - Lab08/Lab8_Skeleton/Lab8_Skeleton/example_output/*
BD - Lab/BD - Lab08/Lab8_Skeleton/Lab8_Skeleton/
BD - Lab/BD - Lab07/Lab7_Skeleton/example_out/*
BD - Lab/BD - Lab07/Lab7_Skeleton/.settings/*
BD - Lab/BD - Lab08/Lab8_Skeleton/Lab8_Skeleton/.settings/*